version: '3.7'
services:
  # server:
  #   build: ./server
  #   networks:
  #     - client_network
  #     - server_network
  #   ports:
  #     - 3000:3000
  #   env_file:
  #     - ./server/.env

  keycloak:
    image: quay.io/keycloak/keycloak:21.0.2
    container_name: keycloak
    command: ['start-dev']
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - '8080:8080'
    volumes:
      - ./keycloak/:/opt/keycloak/data/

#   client:
#     build: ./client
#     networks:
#       - client_network
#     ports:
#       - 5137:5137
#     depends_on:
#       - server

# networks:
#   client_network:
#     driver: bridge
#   server_network:
#     driver: bridge
